@use "./../../styles/breakpoints";
@use './../../styles/var' as var;

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 18px;

  @include breakpoints.media-sm {
    display: grid;
    width: 100%;
    gap: 5px;
    grid-template-columns: repeat(3, 1fr);
  }

  .btn {
    border-radius: 5px;
    background-color: #f2f2f2;
    margin: 5px;
    padding: 10px;
    transition: all 0.3s ease;
  }

  .triangle {
    position: relative;
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    cursor: pointer;
    opacity: 35%;
    transition: all 0.3s ease;
  }

  .triangle:hover {
    opacity: 100%;
  }

  .triangleLeft {
    @include breakpoints.media-sm {
      margin-left: 80%;
    }
    @extend .triangle;
    margin-right: 12px;
    border-right: 12px solid var.$primary-color;
  }

  .triangleRight {
    @extend .triangle;
    margin-left: 12px;
    border-left: 12px solid var.$primary-color;
  }

  .item {
    background: none;
    border: none;
    margin-left: 20px;
    color: var.$primary-color;
    border-radius: 32px;
    min-width: 32px;
    height: 32px;
    font-size: 21px;
    transition: all 0.3s ease;
    padding: 0 10px;
    border: 1px solid var.$primary-color;
  }

  .item:nth-child(2) {
    margin-left: 0px;
  }

  .itemActive {
    background-color: var.$primary-color;
    color: var.$text-color;
  }
  .item:hover {
    background-color: var.$primary-color;
    color: var.$text-color;
  }
}
