@use "./../../styles/breakpoints";
@use './../../styles/var' as var;

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 18px;

  .triangle {
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    cursor: pointer;
    opacity: 35%;
    transition: all 0.3s ease;
  }

  .triangle:hover {
    opacity: 100%;
  }

  .triangleLeft {
    @extend .triangle;
    margin-right: 12px;
    border-right: 12px solid var.$primary-color;
  }

  .triangleRight {
    @extend .triangle;
    margin-left: 12px;
    border-left: 12px solid var.$primary-color;
  }

  .item {
    margin-left: 20px;
    cursor: pointer;
    color: var.$primary-color;
    border-radius: 32px;
    padding: 8px 16px;
    min-width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: -0.05em;
    font-size: 21px;
    transition: all 0.3s ease;
    border: 1px solid var.$primary-color;
  }

  .item:nth-child(2) {
    margin-left: 0px;
  }

  .itemActive {
    background-color: var.$primary-color;
    color: var.$text-color;
  }
  .item:hover {
    background-color: var.$primary-color;
    color: var.$text-color;
  }
}
