@use './breakpoints';
@use './var' as var;

.loading {
  width: 100%;
  min-height: 100vh;
}

.container {
  padding: 20px 42px;
  @include breakpoints.media-sm {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @include breakpoints.media-sm {
    margin: 20px auto;
  }
}
