@use './../../styles/breakpoints';
@use './../../styles/var.scss' as var;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 27px;
  color: var.$primary-color;
  text-transform: uppercase;
  b {
    font-weight: bold;
    position: relative;
    display: inline-block;
  }

  b:before {
    position: absolute;
    height: 4px;
    width: 50%;
    left: 0;
    bottom: -5px;
    background: var.$primary-color;
    display: block;
    content: "";
  }

  @include breakpoints.media-sm {
    font-size: 16px;
    span {
      display: none;
    }
  }
}
